In [63]:
!pip install sqlalchemy
!pip install pymysql

Requirement already satisfied: sqlalchemy in c:\users\umehc\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\umehc\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\umehc\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: pymysql in c:\users\umehc\anaconda3\lib\site-packages (1.1.1)

In [65]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

 ········

In [67]:
sd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+sd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [69]:
from sqlalchemy import text

def rentals_month(engine, month, year):
    """
    Retrieves rental data for a given month and year from the Sakila database.

    Parameters:
        engine: SQLAlchemy engine object for database connection.
        month: Integer representing the month (1-12).
        year: Integer representing the year.

    Returns:
        Pandas DataFrame containing rental data for the specified month and year.
    """
    # SQL query to retrieve rental data for the specified month and year
    query = f"""
    SELECT *
    FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
    """
    # Execute the query and return the result as a DataFrame
    try:
        with engine.connect() as connection:
            rentals_df = pd.read_sql(query, connection)
        return rentals_df
    except Exception as e:
        print(f"An error occurred while retrieving rental data: {e}")
        return None

In [71]:
# Retrieve rental data for May 2005
month = 5
year = 2005

rentals_df = rentals_month(engine, month, year)

# Display the first few rows of the DataFrame
if rentals_df is not None:
    print(rentals_df.head())
else:
    print("No data retrieved.")

   rental_id         rental_date  inventory_id  customer_id  \
0          1 2005-05-24 22:53:30           367          130
1          2 2005-05-24 22:54:33          1525          459
2          3 2005-05-24 23:03:39          1711          408
3          4 2005-05-24 23:04:41          2452          333
4          5 2005-05-24 23:05:21          2079          222

          return_date  staff_id         last_update
0 2005-05-26 22:04:30         1 2006-02-15 21:30:53
1 2005-05-28 19:40:33         1 2006-02-15 21:30:53
2 2005-06-01 22:12:39         1 2006-02-15 21:30:53
3 2005-06-03 01:43:41         2 2006-02-15 21:30:53
4 2005-06-02 04:33:21         1 2006-02-15 21:30:53

In [73]:
def rental_count_month(rentals_df, month, year):
    """
    Calculates the number of rentals made by each customer during a specific month and year.

    Parameters:
        rentals_df: DataFrame containing rental data for the specified month and year.
        month: Integer representing the month (1-12).
        year: Integer representing the year.

    Returns:
        Pandas DataFrame with customer_id and the number of rentals for the specified month and year.
    """
    # Group by customer_id and count the number of rentals
    rental_counts = rentals_df.groupby('customer_id').size().reset_index(name=f"rentals_{month:02d}_{year}")
    return rental_counts

In [75]:
# Assuming you have already established a connection and retrieved rental data
month = 5
year = 2005

# Retrieve rental data for May 2005
rentals_df = rentals_month(engine, month, year)

# Calculate rental counts for May 2005
rental_counts_may = rental_count_month(rentals_df, month, year)

# Display the rental counts DataFrame
print(rental_counts_may)

     customer_id  rentals_05_2005
0              1                2
1              2                1
2              3                2
3              5                3
4              6                3
..           ...              ...
515          594                4
516          595                1
517          596                6
518          597                2
519          599                1

[520 rows x 2 columns]

In [85]:
def compare_rentals(engine):
    """
    Retrieves rental data for May 2005 and August 2005, calculates rental counts for each customer,
    and creates a combined DataFrame with a difference column.

    Parameters:
        engine: SQLAlchemy engine object for database connection.

    Returns:
        A DataFrame with columns: customer_id, data_april, data_august, difference.
    """
    # Step 1: Retrieve rental data for May 2005
    rentals_may = rentals_month(engine, 5, 2005)
    data_may = rental_count_month(rentals_may, 5, 2005)
    data_may.rename(columns={f'rentals_05_2005': 'data_may'}, inplace=True)

    # Step 2: Retrieve rental data for August 2005
    rentals_august = rentals_month(engine, 8, 2005)
    data_august = rental_count_month(rentals_august, 8, 2005)
    data_august.rename(columns={f'rentals_08_2005': 'data_august'}, inplace=True)

    # Step 3: Merge the two DataFrames on customer_id
    combined_df = pd.merge(data_may, data_august, on='customer_id', how='outer').fillna(0)

    # Step 4: Calculate the difference between the two months
    combined_df['difference'] = combined_df['data_may'] - combined_df['data_august']

    return combined_df

In [87]:
# Assuming the database connection engine is already established
combined_rentals = compare_rentals(engine)

# Display the combined DataFrame
print(combined_rentals)

     customer_id  data_may  data_august  difference
0              1       2.0           11        -9.0
1              2       1.0           11       -10.0
2              3       2.0            7        -5.0
3              4       0.0           11       -11.0
4              5       3.0           13       -10.0
..           ...       ...          ...         ...
594          595       1.0            8        -7.0
595          596       6.0           13        -7.0
596          597       2.0           12       -10.0
597          598       0.0            5        -5.0
598          599       1.0            7        -6.0

[599 rows x 4 columns]